.input {
  display: flex;
  flex-direction: column;
  input {
    padding: 0.8rem 1.6rem;
    border-radius: 0.8rem;
    border: 1px solid var(--gray-color-1);
    font-size: 1.6rem;
    font-weight: 400;
    &::placeholder {
      color: var(--gray-color-1);
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2.2rem;
    }
  }
}

.input-under-bottom {
  input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid var(--gray-color-2);
    padding: 1rem;
    font-size: 1.6rem;
  }
}

.checkbox {
  display: flex;
  font-size: 1.2rem;

  align-items: center;
  margin: 1rem 0;

  input {
    margin-right: 1rem;
  }
}
