.banner-image-text {
  max-width: 1120px;
  margin: 0 auto;
  background-color: var(--gray-color-3);
  img {
    min-height: 367px;
    object-fit: cover;
  }
  &-content {
    padding: 3.2rem 2.4rem;
  }
  &-tag {
    color: var(--blue-color-1);
    font-weight: 500;
  }
  &-title {
    font-size: 3.4rem;
    line-height: 1.1;
    margin: 1.5rem 0;
  }
  &-description {
    margin: 1.8rem 0;
  }

  @media screen and (min-width: 600px) {
    display: flex;

    img,
    &-content {
      width: 50%;
    }

    img {
      height: 100%;
    }
    &-content {
      padding: 72px 48px;
    }
  }
}
