.cart-summary {
  &-subtotal,
  &-total {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    text-transform: capitalize;
  }
  &-subtotal {
    font-size: 16px;
    border-bottom: 1px solid var(--gray-color-2);
  }
  &-total {
    font-size: 20px;
    font-weight: 700;
  }
}
