.wrapper {
  margin: 0 10px;
}

.info {
  display: grid;

  max-width: 1120px;
  margin: 0 auto;
  padding: 2rem;
  align-items: center;
  grid-template-columns: 1fr;
  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: 643px 1fr;
  }

  h2 {
    font-size: 40px;
    font-weight: 500;
    @media screen and (min-width: 1024px) {
      font-size: 72px;
    }
  }
  p {
    font-size: 1.6rem;
    line-height: 1.8;
    margin-top: 1.6rem;
    @media screen and (min-width: 768px) {
      margin-top: 0;
    }
  }
}
